# Básicas
pandas
numpy
scipy

# Visualización
matplotlib
seaborn
plotly
folium
Pillow

# Streamlit y Despliegue
streamlit
joblib
tqdm

# Machine Learning e IA
scikit-learn
tensorflow
tf_keras
torch
transformers

# Big Data y Geo
geopandas
dask
pyarrow
fsspec

# Orquestación (si la usas en la app)
dagster